<h2>Sign up</h2>
<p><%=@message%></p>
<p><%=@info%></p>
<p>
	<form action="signup_confirm" method="POST">
		名前：<input type="text" name="name" size="40" maxlength="60">
		パスワード：<input type="text" name="password" size="40" maxlength="30">
		<input type="submit" value="登録する">
	</form>
</p>